/* App.css */
.body {
  background-color: #f5f5f5; /* Light shade background */
}

.header {
  background-color: #333;
  color: white;
  padding: 10px; /* Increased padding */
  text-align: center;
}

.header marquee {
  color: #fff; /* Text color for marquee */
  font-size: 1.5rem; /* Adjust font size */
}

.navi {
  background-color: #333;
  color: white;
  padding: 20px; /* Increased padding */
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.audio-card {
  background-color: #fff;
  padding: 30px; /* Increased padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content */
}

.input-container {
  margin-bottom: 30px; /* Increased margin */
}

.playlist {
  margin-bottom: 30px; /* Increased margin */
}

.playlist h2 {
  margin-bottom: 20px; /* Increased margin */
}

.tracks {
  overflow-y: auto;
  max-height: 170px; /* Increased max height */
}

.track {
  padding: 15px; /* Increased padding */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.track:hover {
  background-color: #f5f5f5;
}

.current-track {
  background-color: #007bff;
  color: white;
}

.now-playing {
  margin-bottom: 30px; /* Increased margin */
}

.audio-player {
  width: 100%;
  margin-top: 20px; /* Increased margin */
}
